{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}
</div>
</div>
</nav>
</header>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    body {
  background: url(/media/greenwood.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body ">
                    {% if object.pk %}
                    <h4 class="font-bold mb-8">Редактирование задачи</h4>
                    {% else %}
                    <h4 class="font-bold mb-8">Создание задачи</h4>
                    {% endif %}
                    {% csrf_token %}
                    {% crispy form %}
                    {% if object.pk %}
                    <a class="btn text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                       href="{% url 'records:update' object.entry.pk %}">Назад
                    </a>
                    {% else %}
                    <a class="btn text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                       href="{% url 'records:update' entry_pk %}">Отмена
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}